.Drawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  padding: 20px 10px;
  box-sizing: border-box;
  background: #FE860C;
  z-index: 90;
  transform: translateX(0px);
  transition: .3s ease-in;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 15px;
      a {
        display: block;
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        position: relative;
        padding: 0 20px 10px 20px;
        transition: .3s;
        border-bottom: 1px solid #fff;
        &:hover {
          background-color: rgba(0,0,0, .2);
          transform: translate(20px);
        }
        &:active {
          opacity: .7;
        }
      }
    }
  }
}

.Drawer.close {
  transform: translateX(-300px);
}

