.HomeWrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-color: #11998e;
  background-image: linear-gradient(180deg, #11998e 0%, #38ef7d 100%);
  padding:0 8%;
}
.HomeWrapper.center {
  justify-content: center;
  align-items: center;
}
