.InfoLine {
  width: 100%;
  font-size: .75rem;
  margin-top: 10px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FA6502;
  border-radius: 10px;
}
