.LeagueContent {
  width: 600px;
  background: rgba(0,0,0, .7);
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
  color: #fff;
  .flex {
    display: flex;
  }
  &-ul {
    margin: 15px 0;
    list-style: none;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 10px;
      padding-bottom: 3px;
      border-bottom: 1px solid #ccc;
      transition: .6s;
      &:hover {
        background: #cccccc;
      }
      a{
        cursor: pointer;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
