.Suite {
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  &-top-line {

    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0, .7);
    padding: 15px;
    border-radius: 10px;
    color: white;
  }
  &-team {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &-team-name {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  &-team-score {
    font-size: 2.5rem;
    padding: 10px;
    border: 2px solid rgba(255,255,255, .7);
    border-radius: 10px;
  }
  &-team-null {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 30px;
    color: #fff;
    transition: .6s;
    cursor: pointer;
    &:hover {
      color: rgba(255,255,255, .8);
    }
  }
  &-team-timeouts {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    &-item {
      width: 30px;
      height: 15px;
      background-color: #fff;
    }
    .active {
      border: 3px solid #ffffff;
      background-color: #ffe152;
    }
  }
  &-team-fouls {
    display: flex;
    &-item {
      cursor: pointer;
      width: 30px;
      height: 30px;
      background-color: green;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: white;
      margin: 0 5px;
    }
    .active {
      background-color: red;
    }
  }
  &-player {
    &-substitution {
      color: #fff;
      padding: 10px;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: rgba(0,0,0, .7);
      transition: .5s;
      border-radius: 10px;
      &:hover {
        color: black;
        background-color: rgba(255,255,255, .7);
      }
    }
    &-ingame {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0, .7);
      color: #fff;
      padding: 10px 15px;
      border-radius: 10px;
      cursor: pointer;
      transition: .5s;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      &:hover {
        color: black;
        background-color: rgba(255,255,255, .7);
      }
    }
    &-wrap {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .start-line {
        display: flex;
        gap: 7px;
      }
      .active {
        color: black;
        background-color: rgba(255,255,255, .7);
      }
    }
  }
  &-actions {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .shoot {
      padding: 15px;
      border-radius: 20px;
    }
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0, .7);
      color: #fff;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: .5s;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      &:hover {
        color: black;
        background-color: rgba(255,255,255, .7);
      }
    }
  }
}
.Suite .text-right {
  text-align: right;
}
