.GameHistoryAll {
  margin: 40px 0;
  width: 100%;
  background-color: rgba(0,0,0,.7);
  border-radius: 10px;
  color: white;
  padding: 30px 15px;
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  &-list {
    list-style: none;
  }
  &-item {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    a {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding:4px 15px;
      color: #fff;
      text-decoration: none;
      transition: .5s;
      &:hover{
        background-color: rgba(255,255,255, .7);
        color: black;
      }
    }
  }
}
