.Player {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FFA17F, #00223E);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #000000;
  align-items: center;
  &-stats {
    &-container {
      margin-top: 30px;
  }
    &-metric {
      padding: 15px;
      background-color: #fff;
      text-align: center;

      thead td {
        cursor: help;
      }
      td {
        padding: 4px 6px;
        border: 1px solid #cccccc;
        text-transform: uppercase;
      }
    }
    &-shoot {
      padding: 15px;
      background-color: #fff;
      text-align: center;
      margin-top: 30px;
      td {
        padding: 4px 6px;
        border: 1px solid #cccccc;
        text-transform: uppercase;
      }
    }
  }
  &-number {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  &-team {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    border-radius: 5px;
    &-img-wrap {
      position: relative;
      width: 100px;
      height: 100px;
      margin: 20px 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

}
