.Substitution {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  transition: .3s;
  &-players {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid #fff;
    transition: .5s;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, .7);
      color: black;
    }
  }
}

.Substitution.left {
  border-radius: 0 10px 10px 0;
  left: -30%;
}
.Substitution.right {
  border-radius: 10px 0  0  10px;
  right: -30%;
}
.Substitution.left-show {
  left: 0;
}
.Substitution.right-show {
  right: 0;
}
